In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('emp-edu.csv')

In [9]:
count = 0
for nums in df.postcode:
    if (nums >= 200 and nums <= 299) or (nums >= 800 and nums <= 7999):
        continue
    else:
        count += 1
print(count)

216

In [11]:
person = set()
for ssn in df.ssn:
    if ssn not in person:
        person.add(ssn)
    else:
        print(ssn)

In [28]:
import numpy
count = 0
marriage = set()
for marital_status in df.marital_status:
    if marital_status is numpy.nan or marital_status == 'n/a':
        count+=1
print(count)

440

In [21]:
df.loc[df['ssn'] == 'e180574648']

,ssn,first_name,middle_name,last_name,gender,current_age,birth_date,street_address,suburb,postcode,state,phone,email,marital_status,current_timestamp,occupation,salary,credit_card_number,years_of_experience,employment_timestamp
5147,e180574648,david,oscar,wilson,m,45,23/1/1973,28 hotham avenue,boddington,6390.0,wa,08 1290 5337,jijkbiogeb@mail.com.au,married-de-facto,2018-7-31t11:05+00:00,education-professional,111800.0,8794c1a21b4db20b4a2e98bc08cd5434,NaN,2018-04-01t16:13+00:00
9883,e180574648,david,oscar,wilson,m,45,23/1/1973,28 hotham avenue,boddington,6390.0,wa,08 1290 5337,jijkbiogeb@mail.com.au,married-de-facto,2018-7-31t11:05+00:00,education-professional,111800.0,8794c1a21b4db20b4a2e98bc08cd5434,26.0,2018-04-01t16:13+00:00

In [23]:
df.loc[df['ssn'] == 'e158170946']

,ssn,first_name,middle_name,last_name,gender,current_age,street_address,email,marital_status,current_timestamp,street_address_med,state_med,weight,bmi,blood_pressure,cholesterol_level,smoking_status,clinical_notes,deceased_status
9434,e158170946,james,anthony,bolin,m,46,285 ferndale road,iclchhjgmg@aol.com,not-married,2018-7-31t09:05+00:00,285 ferndale road,vic,132,40.0,66,156,0.0,stomach-flu,0
9989,e158170946,james,anthony,bolin,m,46,285 ferndale road,iclchhjgmg@aol.com,not-married,2018-7-31t09:05+00:00,285 ferndale road,vic,132,NaN,66,156,NaN,stomach-flu,0